.container {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10px;
  height: 100px;
}

.textPreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 6px;
}

.thumbnail {
  width: 145px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}

.title {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.time {
  font-weight: 400;
  font-size: 11px;
  color: rgba(227, 227, 227, 0.6);
}
