.container {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 8px;
  height: 60px;
}

.textPreviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 5px;
}

.thumbnail {
  width: 100px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}

.title {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.73);
}

.time {
  font-weight: 400;
  font-size: 10px;
  color: rgba(227, 227, 227, 0.86);
}
